:root {
  --clr-desat-cyan: hsl(167, 36%, 54%);
  --clr-dk-blue: hsl(205, 41%, 21%);
  --clr-grayish-dk-blue: hsl(245, 10%, 22%);
  --clr-grayish-dk-blue-lt: hsl(245, 10%, 22%, 0.8);
  --clr-very-lt-grey: hsl(0, 0%, 98%);
  --clr-lt-grey: hsl(240, 2%, 92%);
  --clr-bright-red: hsl(0, 90%, 57%);
}
