@use "../util/" as u;

h1,
h2,
h3 {
  font-family: u.$fontHeadings;
  margin-top: 0;
}

h1 {
  font-weight: 700;
  line-height: 1.05;
  font-size: clamp(
    2.5rem,
    1.7857142857142858rem + 1.488095238095238vw,
    3.125rem
  );

  @include u.breakpoint(medium) {
    line-height: 1;
  }
}

h2 {
  font-size: u.rem(40);
  line-height: 1.05;
}

h3 {
  font-size: u.rem(32);
  line-height: 1.3125;
}

p {
  margin-top: 0;
  font-size: u.rem(16);
  line-height: 1.875;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
