@use "../../styles/util/" as u;

.footer {
  background-color: var(--clr-grayish-dk-blue);

  .bottomNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: u.rem(40);
    padding: 56px;

    @include u.breakpoint(medium) {
      flex-direction: row;
      justify-content: space-between;
      padding: u.rem(24) 0 u.rem(24);
      gap: u.rem(48);
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: u.rem(32);
      flex: 2;
      font-size: u.rem(12);
      letter-spacing: u.rem(2);
      color: #fff;

      & a {
        color: inherit;

        &:hover {
          color: var(--clr-desat-cyan);
        }
        &:active {
          color: var(--clr-desat-cyan);
        }
      }

      @include u.breakpoint(medium) {
        flex-direction: row;
        gap: u.rem(42);
      }
    }

    &__socials {
      display: flex;
      gap: u.rem(16);
    }
  }
}
